


<html>
<head>
	<title>DWD Server</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

<h2>this is in views/layouts/main.handlebars</h2>

{{{body}}}


<h2> This is the footer of the layout</h2>

</body>
</html>